<section data-ng-controller="FirmeController" data-ng-init="find()">
	<div class="page-header">
		<h1>Firme</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="firma in firme" data-ng-href="#!/firme/{{firma._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="firma.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="firma.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="firma.title"></h4>
			<p class="list-group-item-text" data-ng-bind="firma.content"></p>
                        <p class="list-group-item-text" data-ng-bind="firma.cod_fiscal"></p>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="firme.$resolved && !firme.length">
		No firme yet, why don't you <a href="/#!/firme/create">create one</a>?
	</div>
</section>